.texto_Centralizado {
    font-family: monospace;
    text-align: center;
    padding: 20px;
    margin: auto;
    max-width: 50rem;
    background-color: white;
    opacity: 0.5;
    border: 1px solid black;
    border-radius: 10px;
    
}

body {
    background-color: black;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    border: 1px solid black;
    border-radius: 10px;
}